.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.grainboi{
 
  padding: 0;
  margin-left: 100px;  
  background-image: url("./assets/4x/Grainboi.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px; 
}
.display{
  position: relative;

  padding: 0;
  width: 76%;
  height: 31.5%;
  margin-bottom: 1%; 
  
  margin:0 auto;
  overflow: hidden;
  top: 10.5%;
 
}
.screen-button-overlay{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
}

.knob-bar{
 
    position: "relative";
    width: 78%;
   
    padding: 0px;
    height: 10%;
    margin: 0 auto;
    margin-top: 20%;
 
  
}
.button-area {
  position: relative;
  height: 47%;
  bottom: 0%;
  
  
}
.btn-circle{

  position: absolute;
  background-color: rgb(90, 90, 90);
  border-radius: 50%; 
  right: 24%;
  top: 33%;
  width: 12.2%;
  /* padding: 0; */
  padding-bottom: 12.2%; 
}
.a-button{
  outline: none;
  position: absolute;
  border: none;
  background-image: url("./assets/4x/a.png");
  border-radius: 50%;
  background-color: transparent;
  right: 8.7%;
  top: 21%;
  width: 11.9%;
  padding: 0;
  padding-bottom: 11.9%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: .9;
}
.a-button:active {
  top: 21.5%;
  width: 11.8%; right: 8.8%;
  padding-bottom: 11.8%;
  opacity: 1;
}

.b-button{ 
  outline: none;
  position: absolute;
  border: none;
  background-image: url("./assets/4x/b.png");
  background-color: transparent;

  border-radius: 50%;
  right: 23.8%;
  top: 33%;
  width: 11.9%;
  padding: 0;
  padding-bottom: 11.9%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: .9;
}
.b-button:active {
  top: 33.5%;
  width: 11.8%; right: 23.9%;
  padding-bottom: 11.8%;
  opacity: 1;
}
.sel-button{ 
  cursor: pointer;
  outline: none;
  position: absolute;
  border: none;
  background-image: url("./assets/4x/sel.png");

  border-radius: 30%;
  bottom: 25%;
  width: 13%;
  padding: 0;
  padding-bottom: 6%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.sel-button:active {

  opacity: .9;
  bottom: 24.4%;

}
.dPad{

  position: absolute;
  /* background-image: url("./assets/4x/dBack.png");
  background-size: cover;
  background-repeat: no-repeat; */
  width: 22%;
  left: 9.9%;
  top: 21%;
  padding: 0;
  padding-bottom: 22%;

}
.screen-text-wrapper{
  display: block;
  padding: 0;
  margin: 0;
  overflow-x: hidden ;

}
.screen-text-wrapper-select{
  display: block;

  background-color: #3f3f3f ;
  box-shadow: -1px 2.5px #919191;
  margin: 0;
  overflow-x: hidden ;
}
.screen-text{
  font-size: 3px;
  fill: #3f3f3f;
  text-shadow: -1px 2.5px #a7a7a7;
}
.param-text-wrapper{
  display: block;
  padding: 0;
  margin: 0;
  overflow-x: hidden ;
  border-radius: 0px;
  background-color: #3f3f3f ;
  box-shadow: -1px 2.5px #919191;

}
.param-text{
  font-size: 6px;
  fill: #B8C0AB;


}
.screen-text-select{
  font-size: 3px;
  fill: #B8C0AB;

}

.param-display{
  position: absolute;

  width: 50%;
  height: 10%;
  top: 0;
  right: 0;
 
}
.d-btn{
  cursor: pointer;
  outline: none;
  position: absolute;
  border: none;
  background-color: transparent;
  opacity: .2;
  width: 34%;
  
  height: 33%;
  padding: 0;
  padding-bottom: 8%;

}

.d-btn:active{
  background-color: white;
  opacity: .2;
}
.grain-bg {
  position: absolute; 
  z-index: -5;  
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
